:root {font-size: 20px/1.2 "helvetica", Helvetica;}
*{
	
	font-family: Helvetica;
	font-size: 17px;
	padding: 0px;
	margin: 0px;
}

body{
	scroll-behavior: smooth;
	min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
	background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.75)),url(../1.jpg);
	height: 100vh;
	background-size: cover;
}

ul{
	float: right;	
	padding: 4px;
	list-style: none;
	margin-top: 1.5%;
	margin-right: 0.7%;
	
}

ul li{
	
	display: inline-block;
	padding: 5px;
}

ul li a{
	font-family: Century Gothic;
	text-decoration-style: solid;
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	background-color:hsla(42,100%,55%,0.40);
	border: 2px solid black;
	border-radius: 4px;
	font-size: 21px;
	
}

ul li a:hover{
	background-color: black;
	color: #C79200;
	transition: 0.6s;
}

.logo img{
	float: left;
	width: 160px;
	height: auto;
}

.active{
	background-color: black;
	color: #C79200;
	
}

.menu{
	
	margin: auto;
}

.title{
	position: absolute;
	padding-top: 20px;
	top: 1.7in;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title{
	position: absolute;
	padding-top: 20px;
	top: 1.7in;
	left: 50%;
	transform: translate(-50%,-50%);
}
	
.title h1{
	font-size: 78px;
	font-style:oblique;
	color:#EEBD20;
	font-family:Futura;
	text-align: center;
}

.line{
	position: absolute;
	top: 2.7in;
	left: 50%;
	transform: translate(-50%,-50%);
}
	
.line h2{
	font-family: helvetica;
	color: aliceblue;
	font-size: 21px;
	text-align: center;
	
}

.pic1{
	padding: 10px;
	margin-bottom: 2in;
}
.pix1{
	background-color: beige;
	margin: 2.5%;
	right: 2.5%;
	border: thick;
	border-radius: 25px 25px 10px 10px;;
	position: absolute;
	top: 3.2in;
	width: 90%;
	

	
}

.pix1 img{
	width: 100%;	
	border-radius: 10px 10px 0px 0px;
}

.pic2{
	padding: 10px;
	margin-bottom: 2in;
}
.pix2{
	background-color: beige;
	margin: 2.5%;
	right: 2.5%;
	border: thick;
	border-radius: 25px 25px 10px 10px;;
	position: absolute;
	top: 12.4in;
	width: 90%;
	
}

.pix2 img{
	width: 100%;	
	border-radius: 10px 10px 0px 0px;
}

.pic3{
	padding: 10px;
	margin-bottom: 2in;
}
.pix3{
	background-color: beige;
	margin: 2.5%;
	right: 2.5%;
	border: thick;
	border-radius: 25px 25px 10px 10px;;
	position: absolute;
	top: 24in;
	width: 90%;
	
	
}

.pix3 img{
	width: 100%;	
	border-radius: 10px 10px 0px 0px;
}


.caption{
	float:left;
	padding: 8px;
	margin: 3px 3px 3px 6px;
	font-family: Avenir;
	font-weight: bold;
	font-size: 20px;
	color: hsla(0,0%,7%,1.00);
}

.date{
	float: right;
	padding: 8px;
	margin: 4px 6px 4px 4px;
	font-family: Avenir;
	font-weight: 400;
}