:root {font-size: 20px/1.2 "helvetica", Helvetica;}
*{
	
	font-family: Helvetica;
	font-size: 17px;
	padding: 0px;
	margin: 0px;
}

body{
	scroll-behavior: smooth;
	min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
	background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.75)),url(../1.jpg);
	height: 100vh;
	background-size: cover;
}

ul{
	float: right;	
	padding: 4px;
	list-style: none;
	margin-top: 1.5%;
	margin-right: 0.7%;
	
}

ul li{
	
	display: inline-block;
	padding: 5px;
}

ul li a{
	font-family: Century Gothic;
	text-decoration-style: solid;
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	background-color:hsla(42,100%,55%,0.40);
	border: 2px solid black;
	border-radius: 4px;
	font-size: 21px;
	
}

ul li a:hover{
	background-color: black;
	color: #C79200;
	transition: 0.6s;
}

.logo img{
	float: left;
	width: 160px;
	height: auto;
	
}

.active{
	background-color: black;
	color: #C79200;
	
}

.menu{
	
	margin: auto;
}

.title{
	position: absolute;
	padding-top: 20px;
	top: 1.7in;
	left: 50%;
	transform: translate(-50%,-50%);
}
	
.title h1{
	font-size: 85px;
	font-style:oblique;
	color:#EEBD20;
	font-family:Futura;
}

.line{
	position: absolute;
	top: 2.7in;
	left: 50%;
	transform: translate(-50%,-50%);
}
	
.line h2{
	font-family: helvetica;
	color: aliceblue;
	font-size: 21px;
	text-align: center;
	
}

.pulp{
	
	background-color:hsla(35,85%,76%,1.00);
	border-radius: 8px;
	padding: 15px;;
	position: absolute;
	top:3.2in;
	margin: 20px;
}

.pulp img{
	
	float: left;
	width: 2in;
	height: auto;
	padding:2px;
	padding-right: 20px;
	padding-bottom: 8px;
}

.txt1 {
	
	
	padding-bottom: 0.1in;
	margin-left: 5px;
	
}

.txt1 h3{
	font-family: Futura;
	font-size: 32px;
	padding-bottom: 5px;
	
}

.txt1 h4{

	text-underline-position: below;
	text-decoration: underline;
	padding-bottom: 6px;
}

.txt1 p{
	font-family: Helvetica;
	font-size: 18px;
	font-weight: 500;
}

.txt1 h5{
	position: absolute;
	left: 50%;
	text-align: center;
	font-family: "Lulo W00 One Bold";
	font-size: 26px;
	padding-top: 15px;
	transform: translate(-50%,-50%);
}

.noct{
	clear: both;
	background-blend-mode: overlay;
	backface-visibility: visible;
	background-color:hsla(35,85%,76%,1.00);
	border-radius: 8px;
	padding: 15px;;
	position:absolute;
	top: 8in;
	margin: 20px;
}

.noct img{
	
	float: left;
	width: 2in;
	height: auto;
	padding:4px;
	padding-right: 20px;
	padding-bottom: 8px;
}

.txt2 {
	
	
	padding-bottom: 0.1in;
	margin-left: 5px;
	
}

.txt2 h3{
	font-family: Futura;
	font-size: 32px;
	padding-bottom: 5px;
	
}

.txt2 h4{

	text-underline-position: below;
	text-decoration: underline;
	padding-bottom: 6px;
}

.txt2 p{
	font-family: Helvetica;
	font-size: 18px;
	font-weight: 500;
}

.txt2 h5{
	position: absolute;
	left: 50%;
	text-align: center;
	font-family: "Lulo W00 One Bold";
	font-size: 26px;
	padding-top: 40px;
	transform: translate(-50%,-50%);
}

.dead{
	clear: both;
	background-blend-mode: overlay;
	backface-visibility: visible;
	background-color:hsla(35,85%,76%,1.00);
	border-radius: 8px;
	padding: 15px;;
	position:absolute;
	top: 12.6in;
	margin: 20px;
}

.dead img{
	
	float: left;
	width: 2in;
	height: auto;
	padding:4px;
	padding-right: 20px;
	padding-bottom: 8px;
}

.txt3 {
	
	
	padding-bottom: 0.1in;
	margin-left: 5px;
	
}

.txt3 h3{
	font-family: Futura;
	font-size: 32px;
	padding-bottom: 5px;
	
}

.txt3 h4{

	text-underline-position: below;
	text-decoration: underline;
	padding-bottom: 6px;
}

.txt3 p{
	font-family: Helvetica;
	font-size: 18px;
	font-weight: 500;
}

.txt3 h5{
	position: absolute;
	left: 50%;
	text-align: center;
	font-family: "Lulo W00 One Bold";
	font-size: 26px;
	padding-top: 40px;
	transform: translate(-50%,-50%);
}

.end h7{
	position: absolute;
	bottom: 0.3in;
	font-size: 10px;
	padding: 3px;
	margin: 10px;
	
}

